@import "tailwindcss";

@theme {
  --color-primary: #2563eb;
  --color-primary-dark: #1e40af;
  --color-secondary: #0f172a;
  --color-secondary-hover: #1e293b;
  --color-accent: #22c55e;
  --color-accent-hover: #16a34a;
  --color-surface: #f9fafb;
}
